
@import "tailwindcss";
 
.home{
  background-image: url("./bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Hides the scrollbar but keeps content scrollable */
.scrollable-container {
  overflow: auto;
}

/* Hide the scrollbar in Webkit browsers (Chrome, Safari, etc.) */
.scrollable-container::-webkit-scrollbar {
  display: none;
}

/* Hide the scrollbar in Firefox */
.scrollable-container {
  scrollbar-width: none; /* For Firefox */
}
